{% extends 'base.html.twig' %}

{# {% block title %}Hello DefaultController!
{% endblock %} #}

{% block body %}
	<div class="container-fluid mt- mb-4">
		<div class="col-12 d-flex justify-content-center m-4">
			<h1>Voici nos derniere annonces a pourvoir !</h1>
		</div>
		<div class="row justify-content-around">
			{% for annonce in annonces %}
				{% include 'components/cardAnnonce.html.twig' with {annonce : annonce } only  %}
			{% endfor %}
		</div>
	</div>
	<div class="container mt-4 mb-4">
		<div class="col-12 d-flex justify-content-center m-4">
			<h1>Voici la liste des annonceurs</h1>
		</div>
		<div class="row justify-content-around">
			{% for annonceur in annonceurs %}
				{% include 'components/cardAnnonceur.html.twig' with {annonceur : annonceur } only  %}
			{% endfor %}
		</div>
	</div>
    
{% endblock %}
