{% block body %}
	<div class="container-fluid footer bg-light">
			<div class="row col-12 justify-content-between">
				<div class="col-4">
					<ul>
						<li>Politique de confidentialités</li>
						<li>Partenaires</li>
						<li>
							A propos</li>
					</ul>
				</div>
				<div class="col-4">
					<ul>
						<li>Adresse : 6 avenue de Jupiter 69100 Neptune</li>
						<li>Numero : 04581458</li>
						<li>Email : dogception@gmail.com</li>
					</ul>
				</div>
				<div class="col-4">
					<ul>
						<li>Lien 1</li>
						<li>Lien 2</li>
						<li>Lien 3</li>
					</ul>
				</div>
			</div>
	</div>
{% endblock %}
